#CharacterFormCont{

    margin-top: 60px;

}

.form-group {
    padding-left: 15px;
    padding-right: 15px;
}

#error {
    color : red;
    margin : 0px;
    font-size : 150%;

}

.jumbotron {
    margin: 0 auto;
    max-width: 100px;
}